.content_block
	width 100%
	max-width 1640px
	margin 0 auto
	padding 20px
	box-sizing border-box

.content_section
	margin-bottom 40px
	a
		color black
	.column_item
		display inline-block
		margin-right -4px
		vertical-align top
		&:nth-child(1)
			width 50%
			padding-right 40px
			box-sizing border-box
		&:nth-child(2)
			width 25%
			padding-left 40px
			padding-right 40px
			box-sizing border-box
		&:nth-child(3)
			padding-left 40px
			box-sizing border-box
			width 25%
		.column_title
			font-size 28pt
			line-height 30pt
			margin-bottom 40px
			&:after
				content ':'
			&.none:after
				content ''
		.column_s_title
			margin-bottom 20px
			&:after
				content ':'
		.column_body
			&.text
				text-indent 60px
			&.list .list_item
				margin-top 20px
			.item
				&.list:before
					content ''
					padding-right 21px
				&.link
					text-decoration none
					display block
					&:before
						content '↘'
						padding-right 5px
					span:hover
						text-decoration underline

.content_image
	width 100%
	display block
	margin-bottom 40px

