.content_block
	width 100%
	max-width 1640px
	margin 0 auto
	padding 20px
	box-sizing border-box

.content_section
	display flex
	margin-bottom 40px
	a
		color black
	.column_item
		.column_title
			font-size 28pt
			line-height 30pt
			margin-bottom 40px
			&:after
				content ':'
		.column_s_title
			margin-bottom 40px
			&:after
				content ':'
		.column_body
			text-indent 60px

.content_image
	width 100%
	display block
	margin-bottom 40px
