@media screen and (max-width: 1200px)
	@import 'mobile/_about.styl'


a.anchor
	display block
	position relative
	top -100px
	visibility hidden


.content_section
	margin-bottom 40px
	display inline-block
	vertical-align top
	margin-right -4px
	font-size 0
	&.x1
		width 50%
	&.x2
		width 100%
	.column_item
		font-size 0
		display inline-block
		margin-right -4px
		vertical-align top
		box-sizing border-box
		&.contacts
		&.social
		&.our_service
		&.clients
		&.team
		&.vacancies
			width 50%
			padding-left 80px
		&.awards
			padding-left 80px
		.column_title
			font-size 28pt
			line-height 30pt
			margin-bottom 40px
			&:after
				content ':'
			&.none:after
				content ''
		.column_s_title
			margin-bottom 20px
			font-size 14pt
			line-height 18pt
			&:after
				content ':'
		.column_body
			font-size 14pt
			line-height 18pt
			&.text
				text-indent 60px
			&.list .list_item
				margin-top 20px
			.item
				&.list:before
					content ''
					padding-right 21px
				&.link
					text-decoration none
					display block
					&:before
						content '↘'
						padding-right 5px
					span:hover
						text-decoration underline

.content_image
	width 100%
	display block

