@import '_fonts.styl'
@media screen and (max-width: 680px)
	@import 'mobile/_global.styl'

html, body
	margin 0
	padding 0
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family Suisse-Book
	font-size 14pt
	line-height 18pt


.title_block
	display flex
	justify-content space-between
	align-items flex-start
	padding 20px
	.logo img
		height 60px
	.type_item
		position relative
		.type_main
			z-index 9999
			position relative
			&.active
				color black
		&:hover .type_categorys
			display block
			z-index 999
		a
			font-size 28pt
			text-decoration none
			color transparent
			-webkit-text-stroke-width 1px
			-webkit-text-stroke-color black
			margin-bottom 15px
			&:hover
				color black
		.type_categorys
			display none
			position absolute
			left 0
			top 0
			padding-top 32pt
			width 100%
			a
				display block
	.menu_drop
		width 25px
		height 25px
		transform rotate(0deg)
		transition .5s ease-in-out
		cursor pointer
		span
			display block
			position absolute
			height 4px
			width 100%
			background black
			opacity 1
			left 0
			transform rotate(0deg)
			transition .25s ease-in-out
		span:nth-child(1)
			top 0px
		span:nth-child(2)
		span:nth-child(3)
			top 10px
		span:nth-child(4)
			top 20px
		&.menu_open
			span:nth-child(1)
				top 10px
				width 0%
				left 50%
			span:nth-child(2)
				transform rotate(45deg)
			span:nth-child(3)
				transform rotate(-45deg)
			span:nth-child(4)
				top 10px
				width 0%
				left 50%


.menu_block
	display none
// 	.menu_item
// 	.stargazer_block
// 	.locale_block


.footer_block
	background-color black
	color white
	display flex
	padding 20px
	box-sizing border-box
	width 100%
	font-size 12pt
	a
		color white
	.column
		margin-right 7%
		&.social a
			color white
			text-decoration none
			display block
			&:before
				content '↘'
				padding-right 5px
			span:hover
				text-decoration underline
		&.copy
			margin-right 0
			margin-left auto
			max-width 300px


.projects_columns
.sim_projects
	.project_item
		width 50%
		display inline-block
		vertical-align top
		text-decoration none
		color black
		border 10px solid white
		box-sizing border-box
		position relative
		.project_poster
			width 100%
			padding-top 60%
			z-index 99999
			position absolute
			background-size cover
			background-position center
			background-repeat no-repeat
			&.hide
				display none
		.project_images
			width 100%
			padding-top 60%
			position relative
			.project_image
				background-size cover
				background-position center
				background-repeat no-repeat
				position absolute
				top 0; left 0
				width 100%
				height 100%
				display none
				&.active
					display block
		.project_columns
			margin-top 10px
			display flex
			.column_item
				display flex
				&.left
					flex-basis 30%
					flex-direction column
				&.right
					flex-basis 70%
					flex-direction row
				.project_type
					// background-color rgb(48, 154, 106)
					padding-right 40px
					&:after
						content ':'
				.project_build
					// background-color rgb(231, 71, 37)
					padding-top 5px
					padding-right 40px
				.project_title
					// background-color rgb(249, 177, 11)
					flex-grow 1
					padding-right 40px
				.project_category
					// background-color rgb(224, 33, 37)
					padding-right 80px

