@media screen and (max-width: 680px)
	@import 'mobile/_main.styl'


.content_block
	width 100%
	max-width 1640px
	margin 0 auto
	padding 20px
	box-sizing border-box


.projects_slider
	width 100%
	.slider_block
		width 100%
		.slide_item
			width 100%
			color black
			text-decoration none
			.slide_image
				width 100%
				padding-top 60%
				display block
				background-size cover
				background-position center
				background-repeat no-repeat
			.slide_columns
				margin-top 10px
				display flex
				.column_item
					display flex
					&.left
						flex-direction column
						flex-basis 30%
					&.right
						flex-basis 70%
						flex-direction row
					.project_type
						// background-color rgb(48, 154, 106)
						padding-right 40px
						&:after
							content ':'
					.project_build
						// background-color rgb(231, 71, 37)
						padding-top 5px
						padding-right 40px
					.project_title
						// background-color rgb(249, 177, 11)
						flex-grow 1
						padding-right 40px
					.project_category
						// background-color rgb(224, 33, 37)
						padding-right 80px
					.project_counter
						// background-color rgb(249, 177, 11)
						padding-left 80px


.projects_columns
	margin-left -10px
	margin-right -10px
	margin-bottom 120px

