@media screen and (max-width: 1200px)
	@import 'mobile/_project.styl'


.project_preview
	position fixed
	top 0; left 0; right 0; bottom 0
	z-index 999999999999
	background-color white
	display none
	user-select none
	&.show
		display block
	.preview_close
		width 30px
		height 30px
		transform rotate(0deg)
		transition .5s ease-in-out
		cursor pointer
		position absolute
		top 20px
		right 20px
		z-index 999999
		span
			display block
			position absolute
			height 4px
			width 100%
			background black
			opacity 1
			left 0
			transform rotate(0deg)
			transition .25s ease-in-out
		span:nth-child(1)
			top 10px
			width 0%
			left 50%
		span:nth-child(2)
		span:nth-child(3)
			top 10px
		span:nth-child(2)
			transform rotate(45deg)
		span:nth-child(3)
			transform rotate(-45deg)
		span:nth-child(4)
			top 10px
			width 0%
			left 50%
	.swiper-arrows
		width 100%
		height 0
		position absolute
		z-index 9999999
		left 0
		top 48%
		transform: translateY(-50%)
		.arrow-left
		.arrow-right
			outline none
			cursor pointer
			position absolute
			background-size 60%
			background-position center
			background-repeat no-repeat
			width 68px
			height 68px
			border 2px solid white
			background-color white
			border-radius 100%
		.arrow-left
			left 80px
			background-image url('/stuff/shoo/icons/arrow_left.svg')
		.arrow-right
			right 80px
			background-image url('/stuff/shoo/icons/arrow_right.svg')
	.swiper-container
		width 100%
		height 100%
		max-width 1640px
		margin 0 auto
		.swiper-slide
			width 100%
			height 100%
			background-color white
			padding 20px
			box-sizing border-box
			.slide_image
				width 100%
				height 100%
				background-size contain
				background-position center
				background-repeat no-repeat


.project_header
	display flex
	font-size 28pt
	line-height 32pt
	margin-bottom 20px
	.column_item
		display flex
		&.left
			flex-basis 30%
		&.right
			flex-basis 70%
		.project_type
			display none
			&:after
				content ':'
		.project_title
			// background-color red
			flex-basis 80%
		// .project_build
			// background-color green
			// flex-basis 10%
		// .project_category
			// background-color grey
			// flex-basis 20%


.project_poster
	width 100%
	padding-top 60%
	background-size cover
	background-position center
	background-repeat no-repeat


.project_body
.project_bottom
	display flex
	padding-top 40px
	padding-bottom 40px
	.project_description
		flex-basis 50%
		padding-right 100px
		text-indent 60px
		box-sizing border-box
	.project_columns
		flex-basis 50%
		display flex
		&.right
			margin-left auto
		.column_item
			flex-basis 50%
			padding-left 20px
			padding-right 20px
			box-sizing border-box
			.column
				&.title
					&:after
						content ':'
// 				&.body
				.line_item
					margin-top 20px
					.line_title
						&:after
							content ':'
					.line_body
						.item
							&.list:before
								content ''
								padding-right 15px
							&.link
								text-decoration none
								display block
								&:before
									content '↘'
									padding-right 5px
								span:hover
									text-decoration underline


.project_gallery
	margin-left -10px
	margin-right -10px
	.toggle_full
		display none
		position absolute
		width 48px
		height 48px
		top 20px
		right 20px
		background-color white
		border 2px solid white
		border-radius 100%
		background-position center
		background-size 80%
		background-repeat no-repeat
		background-image url('/stuff/shoo/icons/plus.svg')
		cursor pointer
	.image_item
		display inline-block
		margin-right -4px
		font-size 0
		margin-bottom 20px
		padding-left 10px
		padding-right 10px
		box-sizing border-box
		&:hover .toggle_full
			display block
		.image
			width 100%
			padding-top 60%
			background-size cover
			background-position center
			background-repeat no-repeat
			position relative
		.image_description
			font-size 14pt
			line-height 18pt
			margin-top 10px
		&.size_0x
			max-width 0px
			.image
				height 0px
				min-height 0px
		&.size_0x
			display none
		&.size_1x
			width 50%
		&.size_2x
			width 100%

	.slider_block
		display inline-block
		margin-right -4px
		font-size 0
		padding-left 10px
		padding-right 10px
		box-sizing border-box
		margin-bottom 20px
		position relative
		.swiper-arrows
			width 100%
			height 0
			position absolute
			top 0
			left 0
			z-index 999
			opacity 0
			.arrow-left
			.arrow-right
				outline none
				background-size contain
				background-position center
				background-repeat no-repeat
				background-color white
				border 2px solid white
				border-radius 100%
				width 48px
				height 48px
				margin-top 29%
				position absolute
				cursor pointer
				background-size 60%
			.arrow-left
				left 30px
				background-image url('/stuff/shoo/icons/arrow_left.svg')
			.arrow-right
				right 30px
				background-image url('/stuff/shoo/icons/arrow_right.svg')
		&:hover
			.toggle_full
				display block
			.swiper-arrows
				opacity 1
		&.g_0x
			display none
		&.g_1x
			width 50%
		&.g_2x
			width 100%
		.swiper-container
			width 100%
			.swiper-slide
				width 100%
				.slide_image
					width 100%
					padding-top 60%
					background-size cover
					background-position center
					background-repeat no-repeat
				.slide_body
					font-size 14pt
					line-height 18pt
					margin-top 10px
					display flex
					justify-content space-between
					.slide_description
						flex-basis 70%


.project_sim
	margin-top 120px
	margin-bottom 120px
	.sim_title
		font-size 28pt
		line-height 30pt
	.sim_projects
		margin-left -10px
		margin-right -10px

