@media screen and (max-width: 1200px)
	@import 'mobile/projects_type.styl'


.content_block
	padding-top 90px!important

.projects_columns
	margin-left -10px
	margin-right -10px
	margin-bottom 60px

.projects_loader
	margin-bottom 120px
	font-size 28pt
	line-height 32pt
	cursor pointer
	color transparent
	-webkit-text-stroke-width 0.7px
	-webkit-text-stroke-color black
	&.hide
		display none
	&:hover
		color black
		-webkit-text-stroke-color transparent