
.content_block
	width 100%
	max-width 1640px
	margin 0 auto
	padding 20px
	padding-top 110px!important
	box-sizing border-box

.projects_columns
	margin-left -10px
	margin-right -10px
	margin-bottom 60px

.projects_loader
	margin-bottom 120px
	font-size 28pt
	cursor pointer
	color transparent
	-webkit-text-stroke-width 1px
	-webkit-text-stroke-color black
	&.hide
		display none
	&:hover
		color black