.content_block
	width 100%
	max-width 1640px
	margin 0 auto
	padding 20px
	box-sizing border-box

.projects_block
	margin-bottom 120px
	width 100%
	display table
	border-collapse collapse
	.project_item
		display table-row
		border-bottom 1px solid black
		color black
		text-decoration none
		&:hover .title
			text-decoration underline
		.project_cell
			padding-top 20px
			padding-bottom 10px
			width 25%
			display table-cell
			&.type
				padding-right 20px
				&:after
					content ':'
			&.title
				padding-left 20px
				padding-right 20px
			&.build
				padding-left 20px
				padding-right 20px
			&.category
				padding-left 20px

