.content_block
	width 100%
	max-width 1640px
	margin 0 auto
	padding 20px
	box-sizing border-box

.projects_block
	margin-bottom 120px
	display table
	width 100%
	.project_item
		display table-row
		color black
		text-decoration none
		.project_type
			padding-top 20px
			padding-bottom 10px
			border-bottom 1px solid black
			width 25%
			display table-cell
			padding-right 20px
			&:after
				content ':'
		.project_title
			padding-top 20px
			padding-bottom 10px
			border-bottom 1px solid black
			width 25%
			display table-cell
			padding-left 20px
			padding-right 20px
		.project_build
			padding-top 20px
			padding-bottom 10px
			border-bottom 1px solid black
			width 25%
			display table-cell
			padding-left 20px
			padding-right 20px
		.project_category
			padding-top 20px
			padding-bottom 10px
			border-bottom 1px solid black
			width 25%
			display table-cell
			padding-left 20px

