extends ../layout
include ../_forms.pug

block header_meta
	- var content_title= 'ДОБАВИТЬ ЧЕЛОВЕКА'

block header_include
	- var include_libs_css = ['pickmeup.min.css', 'font-awesome.css', 'wysiwyg-editor.min.css']
	- var include_css = ['add.css']
	- var include_libs_js = ['jquery.pickmeup.min.js', 'wysiwyg.min.js', 'wysiwyg-editor.min.js']
	- var include_js = ['editor.js', 'add.js', 'a_events.js']

block sub_menu
	a.sub_item.back_link(href='/admin/peoples') Назад
	span.sub_item.toggle_eng Перевод
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Добавить')

block content
	.form_block
		.title= content_title
		form(action="", method="post")
			.form_title Имя:
			+form_text_single('name')
			.form_title Тип:
			select(name='type')
				option(value='architect') Архитектор
				option(value='designer') Дизайнер
				option(value='3D') 3D
				option(value='photographer') Фотограф
			.form_title Статус:
			select(name='status')
				option(value='base') Обычный
				option(value='hidden') Скрытый
				option(value='special') Особый
			.form_title Дата публикации:
			+form_date('date')

