extends layout

block header_meta
	- var content_title = 'Studio Shoo | About'
	- var content_description= ''
	- var menu_active = 'about'

block header_include
	- var include_css = ['about.css']
	- var include_js = ['about.js']

block content
	h1 SHOO About