extends layout

block header_meta
	- var content_title = 'Studio Shoo'
	- var content_description= ''
	- var menu_active = 'main'

block header_include
	- var include_libs_css = ['swiper-bundle.min.css']
	- var include_css = ['main.css']
	- var include_libs_js = ['swiper-bundle.min.js']
	- var include_js = ['main.js']

block content
	.slider_block.swiper-container
		.swiper-wrapper
			each project in projects.filter(function(project) { return project.main == 'slider' })
				.slide_item.swiper-slide(style='background-image: url(' + project.poster + ')')

	.projects_block
		each project in projects.filter(function(project) { return project.main == 'column' })
			a.project_item(href='/projects/' + project.type + '/' + (project.sym || project._short_id))
				.project_poster(style='background-image: url(' + project.poster + ')')
				.project_images
					each image in project.images.filter(function(image) { return image.main })
						.project_image(style='background-image: url(' + image.thumb + ')')
				.project_columns
					.column_item.left
						.project_type= __(project.type)
						.project_build= project.build_date.getFullYear()
					.column_item.right
						.project_title= project.i18n.title.get(locale)
						.project_category= project.category && project.category.i18n.title.get(locale)

