extends layout

block header_meta
	- var content_title = 'SHOO'
	- var content_description= ''
	- var menu_active = 'main'

block header_include
	- var include_libs_css = ['swiper-bundle.min.css']
	- var include_css = ['main.css']
	- var include_libs_js = ['swiper-bundle.min.js']
	- var include_js = ['main.js']

block content
	.slider_block.swiper-container
		.swiper-wrapper
			each project in projects.filter(function(project) { return project.main == 'slider' })
				.slide_item.swiper-slide(style='background-image: url(' + project.poster + ')')

	.projects_block
		each project in projects.filter(function(project) { return project.main == 'column' })
			.project_item
				.project_poster(style='background-image: url(' + project.poster + ')')
				.project_body
					.project_title= project.i18n.title.get(locale)
					.project_category= project.category && project.category.i18n.title.get(locale)
				.project_build= project.build_date.getFullYear()

