extends layout

block header_meta
	- var content_title = 'SHOO'
	- var content_description= ''
	- var menu_active = 'main'

block header_include
	- var include_libs_css = ['swiper-bundle.min.css']
	- var include_css = ['main.css']
	- var include_libs_js = ['swiper-bundle.min.js']
	- var include_js = ['main.js']

block content
	h1 SHOO Index