extends ../layout

block header_meta
	- var content_title = 'Studio Shoo | News'
	- var content_description= ''
	- var menu_active = 'news'

block header_include
	- var include_css = ['news.css']
	- var include_js = ['news.js']

block content
	h1 SHOO News