extends ../layout

block header_meta
	- var content_title = 'Shoo | ' + __('Новости')
	- var content_description= ''
	- var menu_active = 'news'

block header_include
	- var include_css = ['news.css']
	- var include_js = ['news.js']

block content
	.news_block
	.news_loader= __('Еще новости') + '...'

