extends ../layout
include ../_forms.pug

block header_meta
	- var content_title= 'РЕДАКТИРОВАТЬ РАБОТУ'

block header_include
	- var include_libs_css = ['pickmeup.min.css', 'font-awesome.css', 'wysiwyg-editor.min.css']
	- var include_css = ['add.css']
	- var include_libs_js = ['jquery.pickmeup.min.js', 'wysiwyg.min.js', 'wysiwyg-editor.min.js', 'jquery-ui.min.js', 'jquery.filedrop.js']
	- var include_js = ['upload.js', 'editor.js', 'add.js', 'a_works.js']

block sub_menu
	a.sub_item.back_link(href='/admin/works') Назад
	span.sub_item.toggle_eng Перевод
	a.sub_item(href='/' + (work.type == 'project' ? 'projects' : 'research') + '/' + work._short_id, target='_blank') Превью
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Сохранить')

block content
	.form_block
		.title= content_title
		form(action='', method="post", enctype="multipart/form-data")
			.form_title Название:
			+form_text_single('title', work)
			.form_title Синоним:
			input(type='text', name='sym', value=work.sym, placeholder=work._short_id)
			.form_title Дата сдачи:
			+form_date('build_date', work.build_date)
			.form_title Уровень:
			+form_text_single('level', work)
			.form_title Площадь:
			+form_text_single('area', work)
			.form_title Локация:
			+form_text_single('location', work)
			.form_title Описание:
			+form_text_multi('description', work)
			.form_title Обложка:
			+form_single_file('poster', work)(accept='image/jpeg,image/png,image/gif')
			.form_title Видео YouTube / Vimeo:
			input(type='text', name='embed', value=(work.embed && work.embed.provider) ? (work.embed.provider == 'youtube' ? 'https://youtu.be/' + work.embed.id : 'https://vimeo.com/' + work.embed.id) : '')
			.form_title Изображения:
			+form_images_upload(work.images)
			.form_title Участники:
			+form_multiple_select('peoples', peoples, work.peoples)
			.form_title Категория:
			+form_single_select('category', categorys, work.category)
			.form_title Тип:
			select(name='type')
				option(value='design', selected= work.type == 'design' && 'design') Дизайн
				option(value='architecture', selected= work.type == 'architecture' && 'architecture') Архитектура
				option(value='public', selected= work.type == 'public' && 'public') Публичный интерьер
			.form_title Статус:
			select(name='status')
				option(value='base') Обычный
				option(value='hidden', selected= work.status == 'hidden' && 'hidden') Скрытый
				option(value='special', selected= work.status == 'special' && 'special') Особый
			.form_title Дата публикации:
			+form_date('date', work.date)

