extends ../layout
include ../_forms.pug

block header_meta
	- var content_title= 'РЕДАКТИРОВАТЬ ПРОЕКТ'

block header_include
	- var include_libs_css = ['pickmeup.min.css', 'font-awesome.css', 'wysiwyg-editor.min.css']
	- var include_css = ['add.css']
	- var include_libs_js = ['jquery.pickmeup.min.js', 'wysiwyg.min.js', 'wysiwyg-editor.min.js', 'jquery-ui.min.js', 'jquery.filedrop.js']
	- var include_js = ['upload.js', 'editor.js', 'add.js', 'a_events.js']

block sub_menu
	a.sub_item.back_link(href='/admin/projects') Назад
	span.sub_item.toggle_eng Перевод
	a.sub_item(href='/projects/' + project.type + '/' + (project.sym ? project.sym : project._short_id), target='_blank') Превью
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Сохранить')

block content
	.form_block
		.title= content_title
		form(action='', method="post", enctype="multipart/form-data")
			.form_title Название:
			+form_text_single('title', project)
			.form_title Синоним:
			input(type='text', name='sym', value=project.sym, placeholder=project._short_id)
			.form_title Дата сдачи:
			+form_date('build_date', project.build_date)
			.form_title Уровень:
			+form_text_single('level', project)
			.form_title Площадь:
			+form_text_single('area', project)
			.form_title Локация:
			+form_text_single('location', project)
			.form_title Материалы:
			+form_text_multi('brands', project)
			.form_title Описание:
			+form_text_multi('description', project)
			.form_title Логотип (необязательно):
			+form_single_file('logo', project)(accept='image/jpeg,image/png,image/gif')
			.form_title Обложка:
			+form_single_file('poster', project)(accept='image/jpeg,image/png,image/gif')
			.form_title Изображения:
			+form_images_upload(project.images)
			.form_title Участники:
			+form_multiple_select('peoples', peoples, project.peoples)(field='name')
			.form_title На главной:
			select(name='main')
				option(value='none') нет
				option(value='slider', selected= project.main == 'slider' && 'slider') В слайдере
				option(value='column', selected= project.main == 'column' && 'column') В колонке
			.form_title Тип:
			select(name='type')
				each p_type in static_types.projects_types
					option(value=p_type, selected= (project.type == p_type && p_type))= __(p_type)
			.form_title Категория:
			+form_single_select('category', categorys, project.category)
			.form_title Статус:
			select(name='status')
				option(value='base') Обычный
				option(value='hidden', selected= project.status == 'hidden' && 'hidden') Скрытый
				option(value='special', selected= project.status == 'special' && 'special') Особый
			.form_title Дата публикации:
			+form_date('date', project.date)

