extends ../layout

block header_meta
	- var content_title = 'STUDIO SHOO | ' + __('Все проекты')
	- var content_description= ''
	- var menu_active = 'all'

block header_include
	- var include_css = ['projects.css']
	//- - var include_js = ['projects.js']

block content
	.projects_block
		each project in projects
			a.project_item(href='/projects/' + project.type + '/' + (project.sym || project._short_id))
				.column_item.one
					.project_type= __(project.type)
					.project_build= project.build_date.getFullYear()
				.column_item.two
					.project_title= project.i18n.title.get(locale)
					.project_category= project.category ? project.category.i18n.title.get(locale) : ''

