extends ../layout

block header_meta
	- var content_title = 'Studio Shoo | Projects'
	- var content_description= ''
	- var menu_active = 'all'

block header_include
	- var include_css = ['projects.css']
	- var include_js = ['projects.js']

block content
	h1 SHOO Projects