extends ../layout

block header_meta
	- var content_title = 'SHOO | Project'
	- var content_description= ''
	- var menu_active = ''

block header_include
	- var include_css = ['project.css']
	- var include_js = ['project.js']

block content
	h1= project.i18n.title.get(locale)