extends ../layout

block header_meta
	- var content_title = 'Shoo | ' + __(current_type)
	- var content_description= ''
	- var menu_active = current_type

block header_include
	- var include_css = ['projects_type.css']
	- var include_js = ['projects_type.js']

block content
	.projects_columns
	.projects_loader= __('Еще проекты') + '...'

