doctype html
html
	head
		include header
	body
		.main_block
			.header_block
				.menu_block
					.logo
						a(href='/') SHOO
						span= ' | '
						a(href='/admin') STARGAZER
					a(href='/admin/users') ПОЛЬЗОВАТЕЛИ
					a(href='/admin/news') НОВОСТИ
					a(href='/admin/projects') ПРОЕКТЫ
					a(href='/admin/categorys') КАТЕГОРИИ
					a(href='/admin/publications') ПУБЛИКАЦИИ
					a(href='/admin/awards') НАГРАДЫ
					a(href='/admin/peoples') КОМАНДА
					a(href='/admin/about') О НАС
				.sub_menu_block
					block sub_menu
			.content_block
				block content