.column_title
	font-size 20pt!important
	line-height 22pt!important
.column_s_title
.column_body
	font-size 12pt!important
	line-height 16pt!important


.content_block
	.content_section
		width 100%!important
		// &:nth-last-child(-n+2)
		// 	width 50%!important
		.column_item
			padding-left 0!important
			&.contacts
			&.our_service
			&.team
				padding-right 20px!important
			&.social
			&.clients
			&.vacancies
			// &.awards
				padding-left 20px!important

