html, body
	font-size 12pt!important
	line-height 16pt!important

.menu_block a
.type_item a
.search_input
	-webkit-text-stroke-width 0.5px!important
	font-size 20pt!important
	line-height 22pt!important


.types_block
	display none!important

.header_block
	.logo img
		height 50px!important
	&.menu_open
		padding-top 60px
		padding-bottom 60px
		box-sizing border-box
		.menu_drop
			top 20px
			right 20px
			position absolute!important
		.logo
			top 20px
			left 20px
			position absolute!important
		.types_block
			display block!important
			padding-top 20px
			&.hide
				display none!important
			.type_item
				display block
				margin-bottom 5px!important
			.type_categorys
				display none!important

.footer_block
	flex-direction column!important
	.column
		&.social
			order 3
			margin-top 20px
			margin-bottom 20px
		&.contacts:nth-child(1n)
			order 2
		&.contacts:nth-child(2n)
			order 1
			margin-bottom 20px
		&.copy
			order 4
			br:nth-child(1)
			br:nth-child(2)
				display none!important

.projects_columns
.sim_projects
.search_results
	.project_item
		width 100%!important
		.project_columns
			// display block!important
			.column_item
				display block!important
				.project_title
					padding-right 0!important

