.swiper-arrows
	.arrow-left
		left 20px!important
		width 60px!important
		height 60px!important
	.arrow-right
		right  20px!important
		width 60px!important
		height 60px!important

.slide_columns
	.column_item
		display inline-flex