.column_item
	display block!important
	width 50%!important
	.project_type
	.project_category
	.project_title
	.project_build
		margin 0!important
		padding 0!important
		width 100%!important
	.project_type
	.project_category
		width 60%!important

