.project_header
.sim_title
	font-size 20pt!important
	line-height 22pt!important

.project_body
.project_bottom
	display block!important
	.project_description
		padding-right 0!important
		margin-bottom 40px!important
	.project_columns
		.column_item
			padding-left 0px!important
			padding-right 0px!important

.project_bottom
	.project_columns
		display block!important
		.column_item
			display inline-block!important
			margin-right -4px!important
			margin-bottom 40px!important
			&:nth-child(1)
				width 100%!important
			&:nth-child(2)
				width 50%!important
			&:nth-child(3)
				width 50%!important


.project_gallery
	margin-left 0px!important
	margin-right 0px!important
	.image_item
		padding-left 0!important
		padding-right 0!important
		width 100%!important
	.slider_block
		width 100%!important
		.arrow-left
		.arrow-right
			width 40px!important
			height 40px!important
		.slide_description
			flex-basis 80%!important