.project_preview
	top 60px!important
	.swiper-arrows
		top 49%!important
		.arrow-left
			left 40px!important
			width 30px!important
			height 30px!important
		.arrow-right
			right  40px!important
			width 30px!important
			height 30px!important


.project_header
.sim_title
	font-size 20pt!important
	line-height 22pt!important

.image_description
.slide_description
.slide_counter
	font-size 12pt!important
	line-height 16pt!important

.project_header
	.column_item
		flex-direction column!important
		.project_type
			display block!important
		.project_title
			padding-left 20px!important
		.project_build
			padding-left 20px!important

.project_body
.project_bottom
	display block!important
	.project_description
		padding-right 0!important
		margin-bottom 40px!important
	.project_columns
		.column_item
			padding-left 0px!important
			padding-right 0px!important

.project_bottom
	.project_columns
		display block!important
		.column_item
			display inline-block!important
			margin-right -4px!important
			margin-bottom 40px!important
			&:nth-child(1)
				width 100%!important
			&:nth-child(2)
				width 50%!important
			&:nth-child(3)
				width 50%!important

.project_gallery
	margin-left 0px!important
	margin-right 0px!important
	.toggle_full
		display none!important
	.image_item
		padding-left 0!important
		padding-right 0!important
		width 100%!important
	.slider_block
		width 100%!important
		padding-left 0px!important
		padding-right 0px!important
		.arrow-left
			left 20px!important
			width 30px!important
			height 30px!important
		.arrow-right
			right  20px!important
			width 30px!important
			height 30px!important
		.slide_description
			flex-basis 80%!important

.project_bottom
	padding-bottom 0px!important

.project_sim
	margin-top 20px!important
	margin-bottom 40px!important

